---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import BentoSection from "../components/BentoSection.astro";
import { Icon } from "astro-icon/components";
import Technologies from "../sections/Technologies.astro";
import SoftSkills from "../sections/SoftSkills.astro";
import FeaturedProjects from "../sections/FeaturedProjects.astro";
import JobExperience from "../sections/JobExperience.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juan Faccini - Portfolio</title>
  </head>
  <body class="bg-violet-50 font-sans text-gray-800">
    <!-- <Navbar /> -->

    <Navbar />

    <main class="p-6 max-w-6xl mx-auto">
      <section class="my-8 flex justify-between items-end">
        <div class="size-64">
          <img src="yo.jpg" alt="Juan Faccini" class="rounded-full" />
        </div>
        <div>
          <h1 class="text-6xl font-bold text-end mb-4">Juan Faccini</h1>
          <p class="text-end text-lg mb-2">Desarrollador de Software</p>
          <div class="flex space-x-4 justify-end">
            <!-- Mail -->
            <a
              href="mailto:juan.durefaccini@outlook.com.ar"
              target="_blank"
              class="text-violet-500 hover:underline"
            >
              <Icon name="mdi:email" class="w-6 h-6" />
            </a>

            <!-- 	LinkedIn -->
            <a
              href="https://www.linkedin.com/in/juan-agustín-duré-faccini"
              target="_blank"
              class="text-violet-500 hover:underline"
            >
              <Icon name="mdi:linkedin" class="w-6 h-6" />
            </a>

            <!-- GitHub -->
            <a
              href="https://github.com/juandurefaccini"
              target="_blank"
              class="text-violet-500 hover:underline"
            >
              <Icon name="mdi:github" class="w-6 h-6" />
            </a>
          </div>
        </div>
      </section>

      <!-- Descripcion -->
      <section class="my-8">
        <p class="text-justify">
          Soy un estudiante avanzado de la carrera de Ingeniería de Sistemas,
          actualmente residiendo en la ciudad de Mar del Plata.Busco seguir
          creciendo en roles donde pueda aplicar mis conocimientos, liderar
          equipos y contribuir con soluciones tecnológicas innovadoras.
        </p>
      </section>

      <!-- Tecnologías -->
      <Technologies />

      <!-- Habilidades blandas -->
      <SoftSkills />

      <!-- Proyectos destacados -->
      <FeaturedProjects />

      <!-- Experiencia laboral -->
      <JobExperience />
    </main>
  </body>
</html>
