---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon/components";
import Technologies from "../sections/Technologies.astro";
import SoftSkills from "../sections/SoftSkills.astro";
import FeaturedProjects from "../sections/FeaturedProjects.astro";
import JobExperience from "../sections/JobExperience.astro";
import AboutMe from "../sections/AboutMe.astro";
import { ViewTransitions } from 'astro:transitions';
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juan Faccini - Portfolio</title>
    <ViewTransitions />
  </head>
  <body class="bg-violet-50 font-sans text-gray-800">
    <Navbar />

    <main class="mx-auto max-w-6xl p-4 sm:p-6">
      <Section>
        <div class="my-4 sm:my-8 flex flex-col sm:flex-row items-center sm:items-end justify-between">
          <div class="size-48 sm:size-64 mb-4 sm:mb-0">
            <img src="yo.jpg" alt="Juan Faccini" class="rounded-full" />
          </div>
          <div class="text-center sm:text-right">
            <h1 class="mb-2 sm:mb-4 text-4xl sm:text-6xl font-bold">Juan Faccini</h1>
            <p class="mb-2 text-base sm:text-lg">
              Desarrollador de Software, Argentina 🇦🇷
            </p>
            <div class="flex flex-wrap justify-center sm:justify-end gap-2 sm:space-x-4">
              <!-- Mail -->
              <a
                href="mailto:juan.durefaccini@outlook.com.ar"
                target="_blank"
                class="flex items-center space-x-2 rounded-full bg-violet-100 px-2 sm:px-3 py-1 text-xs sm:text-sm font-semibold text-violet-700 hover:bg-violet-200"
              >
                <Icon name="mdi:email" class="h-4 w-4 sm:h-5 sm:w-5" />
                <span>Email</span>
              </a>

              <!-- LinkedIn -->
              <a
                href="https://www.linkedin.com/in/juan-agustín-duré-faccini"
                target="_blank"
                class="flex items-center space-x-2 rounded-full bg-violet-100 px-2 sm:px-3 py-1 text-xs sm:text-sm font-semibold text-violet-700 hover:bg-violet-200"
              >
                <Icon name="mdi:linkedin" class="h-4 w-4 sm:h-5 sm:w-5" />
                <span>LinkedIn</span>
              </a>

              <!-- GitHub -->
              <a
                href="https://github.com/juandurefaccini"
                target="_blank"
                class="flex items-center space-x-2 rounded-full bg-violet-100 px-2 sm:px-3 py-1 text-xs sm:text-sm font-semibold text-violet-700 hover:bg-violet-200"
              >
                <Icon name="mdi:github" class="h-4 w-4 sm:h-5 sm:w-5" />
                <span>GitHub</span>
              </a>

              <a
                href="/export-cv"
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center space-x-2 rounded-full bg-violet-100 px-2 sm:px-3 py-1 text-xs sm:text-sm font-semibold text-violet-700 hover:bg-violet-200"
              >
                <Icon name="mdi:file-export" class="h-4 w-4 sm:h-5 sm:w-5" />
                <span>Exportar CV</span>
              </a>
            </div>
          </div>
        </div>
      </Section>

      <AboutMe />
      <Technologies />
      <SoftSkills />
      <FeaturedProjects />
      <JobExperience />
    </main>

    <p class="my-8 sm:my-16 text-center text-xs sm:text-sm text-gray-500">
      Este proyecto fue creado con Astro y TailwindCSS.
    </p>

    <Footer />
  </body>
</html>
