---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import BentoSection from "../components/BentoSection.astro";
import { Icon } from "astro-icon/components";
import Technologies from "../sections/Technologies.astro";
import SoftSkills from "../sections/SoftSkills.astro";
import FeaturedProjects from "../sections/FeaturedProjects.astro";
import JobExperience from "../sections/JobExperience.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juan Faccini - Portfolio</title>
  </head>
  <body class="bg-violet-50 font-sans text-gray-800">
    <!-- <Navbar /> -->

    <Navbar />

    <main class="mx-auto max-w-6xl p-6">
      <section class="my-8 flex items-end justify-between">
        <div class="size-64">
          <img src="yo.jpg" alt="Juan Faccini" class="rounded-full" />
        </div>
        <div>
          <h1 class="mb-4 text-end text-6xl font-bold">Juan Faccini</h1>
          <p class="mb-2 text-end text-lg">
            Desarrollador de Software, Argentina 🇦🇷
          </p>
          <div class="flex justify-end space-x-4">
            <!-- Mail -->
            <a
              href="mailto:juan.durefaccini@outlook.com.ar"
              target="_blank"
              class="flex items-center space-x-2 rounded-full bg-violet-100 px-3 py-1 text-sm font-semibold text-violet-700 hover:bg-violet-200"
            >
              <Icon name="mdi:email" class="h-5 w-5" />
              <span>Email</span>
            </a>

            <!-- LinkedIn -->
            <a
              href="https://www.linkedin.com/in/juan-agustín-duré-faccini"
              target="_blank"
              class="flex items-center space-x-2 rounded-full bg-violet-100 px-3 py-1 text-sm font-semibold text-violet-700 hover:bg-violet-200"
            >
              <Icon name="mdi:linkedin" class="h-5 w-5" />
              <span>LinkedIn</span>
            </a>

            <!-- GitHub -->
            <a
              href="https://github.com/juandurefaccini"
              target="_blank"
              class="flex items-center space-x-2 rounded-full bg-violet-100 px-3 py-1 text-sm font-semibold text-violet-700 hover:bg-violet-200"
            >
              <Icon name="mdi:github" class="h-5 w-5" />
              <span>GitHub</span>
            </a>
          </div>
        </div>
      </section>

      <!-- Descripcion -->
      <section class="my-8">
        <div class="space-y-6 text-lg text-gray-700">
          <p class="text-justify">
            Actualmente me encuentro finalizando mis estudios de la carrera
            Ingeniería de Sistemas. Busco seguir creciendo en roles donde pueda
            aplicar mis conocimientos, liderar equipos y contribuir con
            soluciones tecnológicas innovadoras.
          </p>
          <p class="text-justify">
            Trabajo hace más de 4 años en la industria del desarrollo de
            software, y he tenido la oportunidad de trabajar en diferentes
            proyectos, tanto en el ámbito académico como en el profesional. Me
            apasiona el desarrollo de software y la tecnología en general.
          </p>
        </div>

        <!-- Tecnologías -->
        <Technologies />

        <!-- Habilidades blandas -->
        <SoftSkills />

        <!-- Proyectos destacados -->
        <FeaturedProjects />

        <!-- Experiencia laboral -->
        <JobExperience />
      </section>
    </main>

    <p class="my-16 text-center text-sm text-gray-500">
      Este proyecto fue creado con Astro y TailwindCSS.
    </p>

    <Footer />
  </body>
</html>
