<footer class="bg-gray-800 text-white py-6">
  <div class="max-w-6xl mx-auto text-center">
    <p>&copy; 2024 Juan Duré Faccini</p>
    <div class="space-x-4">
      <a
        href="mailto:juan.durefaccini@outlook.com.ar"
        class="hover:text-gray-400">Email</a
      >
      <a href="https://github.com/juandurefaccini" class="hover:text-gray-400"
        >GitHub</a
      >
      <a
        href="https://www.linkedin.com/in/juan-agust%C3%ADn-dur%C3%A9-faccini"
        class="hover:text-gray-400">LinkedIn</a
      >
    </div>
  </div>
</footer>
