---
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<Section id="descripcion">
  <SectionTitle title="Sobre mí" />
  <div class="space-y-4 sm:space-y-6 text-sm sm:text-base text-gray-700">
    <p class="text-justify">
      Actualmente me encuentro finalizando mis estudios de la carrera
      Ingeniería de Sistemas. Busco seguir creciendo en roles donde pueda
      aplicar mis conocimientos, liderar equipos y contribuir con
      soluciones tecnológicas innovadoras.
    </p>
    <p class="text-justify">
      Trabajo hace más de 4 años en la industria del desarrollo de
      software, y he tenido la oportunidad de trabajar en diferentes
      proyectos, tanto en el ámbito académico como en el profesional. Me
      apasiona el desarrollo de software y la tecnología en general.
    </p>
  </div>
</Section>
