---
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";

type SoftSkill = {
  name: string;
  description: string;
};

const softSkills: SoftSkill[] = [
  {
    name: "Liderar",
    description: "Experiencia liderando equipos de desarrollo de software.",
  },
  {
    name: "Analizar",
    description: "Experiencia en el análisis funcional de sistemas.",
  },
  {
    name: "Comunicar",
    description:
      "Experiencia en comunicación con clientes para presentar avances.",
  },
  {
    name: "Presupuestar",
    description:
      "Experiencia en la definición de presupuestos para proyectos de desarrollo de software.",
  },
];
---

<Section id="habilidades-blandas">
  <SectionTitle title="Habilidades Blandas" />

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-4">
    {
      softSkills.map((skill) => (
        <div class="rounded-lg bg-white p-4">
          <h3 class="mb-2 text-lg font-bold">{skill.name}</h3>
          <p class="text-sm text-gray-600">{skill.description}</p>
        </div>
      ))
    }
  </div>
</Section>
