---
import { Icon } from "astro-icon/components";

type Technology = {
  name: string;
  icon: string;
  category: "frontend" | "backend" | "mobile" | "servicios" | "otros";
  level: "principiante" | "intermedio" | "avanzado";
};

const technologies: Technology[] = [
  {
    name: "React",
    icon: "vscode-icons:file-type-reactjs",
    category: "frontend",
    level: "avanzado",
  },
  {
    name: "Next.js",
    icon: "vscode-icons:file-type-next",
    category: "frontend",
    level: "intermedio",
  },
  {
    name: "Tailwind",
    icon: "vscode-icons:file-type-tailwind",
    category: "frontend",
    level: "intermedio",
  },
  {
    name: "Astro",
    icon: "devicon:astro",
    category: "frontend",
    level: "intermedio",
  },
  {
    name: "bash",
    icon: "devicon:bash",
    category: "backend",
    level: "avanzado",
  },

  {
    name: "Node.js",
    icon: "vscode-icons:file-type-node",
    category: "backend",
    level: "intermedio",
  },
  {
    name: "Springboot",
    icon: "devicon:spring",
    category: "backend",
    level: "intermedio",
  },
  {
    name: ".NET",
    icon: "devicon:dot-net",
    category: "backend",
    level: "intermedio",
  },
  {
    name: "SQL",
    icon: "devicon:postgresql",
    category: "backend",
    level: "intermedio",
  },
  {
    name: "Docker",
    icon: "vscode-icons:file-type-docker",
    category: "backend",
    level: "intermedio",
  },
  {
    name: "React Native",
    icon: "vscode-icons:file-type-reactjs",
    category: "mobile",
    level: "intermedio",
  },
  {
    name: "Flutter",
    icon: "vscode-icons:file-type-flutter",
    category: "mobile",
    level: "intermedio",
  },
  {
    name: "Android",
    icon: "devicon:androidstudio",
    category: "mobile",
    level: "principiante",
  },
  {
    name: "Firebase",
    icon: "vscode-icons:file-type-firebase",
    category: "servicios",
    level: "intermedio",
  },
  {
    name: "AWS",
    icon: "vscode-icons:file-type-aws",
    category: "servicios",
    level: "principiante",
  },
  {
    name: "Git",
    icon: "vscode-icons:file-type-git",
    category: "otros",
    level: "avanzado",
  },
  {
    name: "Unity",
    icon: "devicon:unity",
    category: "otros",
    level: "intermedio",
  },
  {
    name: "nginx",
    icon: "vscode-icons:file-type-nginx",
    category: "otros",
    level: "principiante",
  },
  {
    name: "Figma",
    icon: "devicon:figma",
    category: "otros",
    level: "principiante",
  },
  {
    name: "Electron",
    icon: "vscode-icons:file-type-reactjs",
    category: "otros",
    level: "principiante",
  },
];

const groupedTechnologies = technologies.reduce(
  (acc, tech) => {
    if (!acc[tech.category]) {
      acc[tech.category] = [];
    }
    acc[tech.category].push(tech);
    return acc;
  },
  {} as Record<string, Technology[]>
);
---

<section class="my-16">
  <h2 class="mb-6 text-center text-3xl font-semibold text-gray-800">
    Tecnologías
  </h2>
  {
    Object.entries(groupedTechnologies).map(([category, techs]) => (
      <div class="mb-12">
        <h3 class="mb-4 text-2xl font-semibold capitalize text-gray-700">
          {category}
        </h3>
        <div class="grid w-full grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
          {techs.map((technology) => (
            <div class="flex items-center rounded-lg border border-gray-200 bg-white p-3 transition-colors hover:bg-gray-50">
              <div class="flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-gray-100">
                <Icon name={technology.icon} class="h-6 w-6 text-gray-700" />
              </div>
              <div class="ml-3">
                <h3 class="text-md font-medium text-gray-800">
                  {technology.name}
                </h3>
                <p class="text-xs capitalize text-gray-500">
                  {technology.level}
                </p>
              </div>
            </div>
          ))}
        </div>
      </div>
    ))
  }
</section>
