---
import { Icon } from "astro-icon/components";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import { technologies } from "../data/resumeData";

type Technology = {
  name: string;
  icon: string;
  category: "frontend" | "backend" | "mobile" | "servicios" | "otros";
  level: "principiante" | "intermedio" | "avanzado";
};

const groupedTechnologies = technologies.reduce(
  (acc, tech) => {
    if (!acc[tech.category]) {
      acc[tech.category] = [];
    }
    acc[tech.category].push(tech);
    return acc;
  },
  {} as Record<string, Technology[]>
);
---

<Section id="tecnologias">
  <SectionTitle title="Tecnologías" />
  {
    Object.entries(groupedTechnologies).map(([category, techs]) => (
      <div class="mb-12">
        <h3 class="mb-4 text-2xl font-semibold capitalize text-gray-700">
          {category}
        </h3>
        <div class="grid w-full grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
          {techs.map((technology) => (
            <div class="flex items-center rounded-lg border border-gray-200 bg-white p-3 transition-colors hover:bg-gray-50">
              <div class="flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-gray-100">
                <Icon name={technology.icon} class="h-6 w-6 text-gray-700" />
              </div>
              <div class="ml-3">
                <h3 class="text-md font-medium text-gray-800">
                  {technology.name}
                </h3>
                <p class="text-xs capitalize text-gray-500">
                  {technology.level}
                </p>
              </div>
            </div>
          ))}
        </div>
      </div>
    ))
  }
</Section>
